body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-color: #000;

}

.item img {
  width: 240px;
  height: 240px;
  display: block;
  cursor: pointer;
  object-fit: cover;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  width: 300px;
  margin-right: 400px;
}

.pointer {
  position: absolute;
  --l: 30px;
  --t: 3px;
  --g: 15px;
  --s: 240px;
  --x: 0px;
  --y: 0px;
  width: calc(var(--s) + 2 * var(--g));
  height: calc(var(--s) + 2 * var(--g));
  border: var(--t) solid #fff;
  left: calc(var(--x) - var(--g));
  top: calc(var(--y) - var(--g));
  transition: 0.3s;
  mask: conic-gradient(at 50px 50px, transparent 75%, blue 75%) 0 0 / calc(100% - 50px) calc(100% - 50px) repeat;
}